src/main/mule/testcicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9def299c-e168-491a-bf43-2e4c893147e6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testcicdFlow" doc:id="d0c7ba36-d68d-4730-bd01-72abd758d53f" >
		<http:listener doc:name="Listener" doc:id="7d453ddf-b15c-43c3-8fba-ffac8c5a1cdd" config-ref="HTTP_Listener_config" path="test"/>
		<logger level="INFO" doc:name="Logger" doc:id="c456ae29-d4d9-4c2e-8839-703f46ee7586" message="#[payload]"/>
	</flow>
</mule>
